@charset "UTF-8";
/* Layout.Css
ヘッダーなどの各ページ共通
パンクズなど共通にして唯一の物
---------------------------------------------------- */
.wrapper{}
.inner{
	max-width: 1056px;
	margin:auto;
	padding-left: 15px;
	padding-right: 15px;
}
	.inner.pd_type2{
		padding-left: 25px;
		padding-right: 25px;
	}
	.inner.pd_type3{
		padding-top: 50px;
		padding-bottom: 50px;
	}

.header{font-family:"Yu Mincho", "YuMincho";}
.header nav{background-color: #262969;}
	.header nav.topNav{padding-bottom: 50px;}
.header nav a{color: #fff;}

.header .navTabs .inner{
	display: flex;
	text-align: center;
}
.header .navTabs li{width: 14.2858%;}
.header .navTabs a{
	display: block;
	font-size: 1.6rem;
	line-height: 42px;
}
	.header .navTabs a:hover{
		background-color: #001951;
		text-decoration: none;
	}
	.header .navTabs a.show{background-color: #000510;}

.header .navMenus{
	text-align: center;
	position: relative;
}
.header .navMenu{
	display: none;
	background-color: #000510;
	padding: 20px 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
}
.header .navMenu ul{
	display: inline-table;
	text-align: left;
}
.header .navMenu li{
	display: table-cell;
	padding: 0 20px;
	box-sizing: border-box;
}
	.header .navMenu li + li{border-left: 1px solid #172c5c;}
.header .navMenus dt{
	margin-bottom: 10px;
	color: #98aede;
	font-size: 1.6rem;
}
	.header .navMenus * + dt{
		padding-top: 10px;
		border-top: 1px solid #172c5c;
	}
	.header .navMenus dd + dt{margin-top: 10px;}
	.header .navMenus dt:before{content: "・";}
.header .navMenus dd{padding-left: 1em;}
.header .navMenus dd a{
	display: inline-block;
	font-size: 1.4rem;
}

.header .navMenu.no1 li:nth-child(1){width: 40%;}
.header .navMenu.no1 li:nth-child(1) dd > div{
	display: inline-block;
	width: 49%;
	vertical-align: top;
}

.logo{
	padding: 20px 10px;
	text-align: center;
}
.logo a{display: inline-block;}
.logo small{
	display: block;
	margin-top: 15px;
	color: #172c5c;
	font-weight: bold;
}
.pankz{
	background-color: #d7d7d7;
	font-size: 1.2rem;
}
.pankz .inner{
	padding-top: 10px;
	padding-bottom: 10px;
	color: #172c5c;
}
.pankz .inner a{color: inherit;}


.container{}


.footer{
	background-color: #262969;
	font-family:"Yu Mincho", "YuMincho";
}
.ftNav{
	display: table;
	margin: auto;
	padding: 40px 20px;
	color: #fff;
}
.ftNav > *{
	display: table-cell;
	vertical-align: top;
}
.ftNav .ftLogo{padding:5px 35px 5px 0;}
.ftNav .ftLogo .img{margin-bottom: 20px;}
.ftNav .ftLogo p{
	font-size: 1.2rem;
	line-height: 1.75;
}
.ftNav .ftMenus{
	letter-spacing: -0.5em;
	border-left: 1px solid #fff;
}
.ftNav .ftMenus dl{
	display: inline-block;
	padding:5px 0 5px 35px;
	vertical-align: top;
	letter-spacing: normal;
}
.ftNav dt{
	margin-bottom: 10px;
	font-size: 1.6rem;
}
.ftNav a{
	color: #fff;
	font-size: 1.2rem;
}
.copyright{
	background-color: #fff;
	padding: 25px;
	font-size: 1.2rem;
	text-align: center;
}


/*----各コンテンツ----
---------------------*/
section + .sec1{margin-top: 45px;}


.main1{
	display: block;
	background: url(../img/main_bg.png) center center no-repeat #fff;
	background-size: auto 106%;
	padding: 0 15px;
	margin-bottom: 25px;
	box-sizing: border-box;
}
.main1 .boxBg{
	background: url(../img/main_box_bg.png) 0 0 no-repeat;
	max-width: 1100px;
	margin: auto;
	padding: 5px 5px 0px;
	position: relative;
	top: -50px;
}
.main1 .inner{
	display: flex;
	justify-content: space-between;
	max-width: none;
	padding: 20px 20px 0px;
	box-sizing: border-box;
}
.main1 .img{width: 62.2642%;}
.main1 .img a{
	display: block;
	position: relative;
}
	.main1 .img a:hover{opacity: 0.8;}
.main1 .img a span{
	background-color: rgba(0,0,0,0.8);
	padding:20px 25px;
	color: #fff;
	font-size: 2.0rem;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
.main1 .list{width: 35.85%;}
.main1 .list li{}
	.main1 .list li + li{
		margin-top: 20px;
		padding-top: 20px;
		border-top: 1px solid #ccc;
	}
.main1 .list a{
	display: flex;
	justify-content: space-between;
	font-size: 1.6rem;
}
	.main1 .list a:hover{opacity: 0.8;}
.main1 .list .img{width: 26.3158%;}
.main1 .list .txt{width: 68.4211%;}


.colWrap{padding-bottom: 60px;}
.colWrap .colMain{
	width: 66.9508%;
	float: left;
}
.colWrap .colSub{
	width: 28.4091%;
	float: right;
}


/*レノヴィのついて*/
.about{
	background:url(../img/about_bg.png) center center no-repeat;
	background-size: cover;
	padding: 75px 10px;
	color: #fff;
	font-family:"Yu Mincho", "YuMincho";
	text-align: center;
}
.about h2{margin-bottom: 45px;}
.about h2 small{
	display: block;
	margin-bottom: 20px;
}
.about h2 span{
	display: inline-block;
	padding-bottom: 20px;
	font-size: 3.5rem;
	border-bottom: 1px solid #fff;
}
.about .txt1{
	margin-bottom: 30px;
	font-size: 2.5rem;
	line-height: 1.4;
}
.about .txt2{
	font-size: 1.7rem;
	line-height: 1.47;
}


/*マイページのタイトルエリア*/
.mypageTtlArea{background:url(../img/bg_square.png) 0 0 repeat #041335;}
.mypageTtlArea .ttl{
	display: table;
	margin: auto;
	padding: 35px 15px;
	color: #fff;
	font-size: 2.5rem;
}
.mypageTtlArea .ttl > *{
	display: table-cell;
	vertical-align: middle;
}
.mypageTtlArea .ttl .img{
	width: 96px;
	padding-top: 96px;
	position: relative;
}
.mypageTtlArea .ttl .img .userIcn1{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.mypageTtlArea .ttl .txt{
	padding-left: 20px;
	font-weight: bold;
}



/*=== メディアクエリ ===*/
@media screen and (max-width:1199px){
/*デスクトップ(992px以上、1200px未満)*/
}
@media screen and (max-width:1024px){
/*タブレット横(1001px以上、1025px未満)*/
.footer{}
.ftNav{
	display: block;
	padding: 20px 15px;
	text-align: center;
}
.ftNav > *{display: block;}
.ftNav .ftLogo{padding:0px 0px 15px;}
.ftNav .ftMenus{border-left: none;}
.ftNav .ftMenus dl{text-align: left;}
.copyright{padding: 10px;}


}
@media screen and (max-width:1000px){
/*タブレット縦(768px以上、1001px未満)*/
	.inner{}
	.inner.pd_type2{
		padding-left: 15px;
		padding-right: 15px;
	}

.logo{padding:15px 10px;}
.logo a img{width: 150px;}
.header nav.topNav{padding-bottom: 30px;}
.header .navTabs a{font-size: 1.4rem;}
.header .navMenu li{padding: 0 10px;}
.header .navMenus dt{
	margin-bottom: 5px;
	font-size: 1.4rem;
}

.ftNav .ftMenus dl{width: 25%;}


/*----各コンテンツ----
---------------------*/
.main1 .inner{padding: 15px 15px 0px;}
.main1 .boxBg{top: -30px;}
.main1 .img{width: 55%;}
.main1 .img a span{
	padding: 10px 15px;
	font-size: 1.6rem;
}
.main1 .list{width: 42%;}
.main1 .list a{font-size: 1.4rem;}

.colWrap{padding-bottom: 45px;}
.colWrap .colMain{width: 60%;}
.colWrap .colSub{width: 36%;}


}
@media screen and (min-width:768px){
.header .navMenus dd,
.ftNav .ftMenus dd{display: block !important;}
}
@media screen and (max-width:767px){
/*モバイル(768px未満)*/
html{font-size:3.125vw;}
body{-webkit-text-size-adjust: 100%;}


.inner{
	padding-left: 0;
	padding-right: 0;
}
	.inner.pd_type2{
		padding-left: 3.125%;
		padding-right: 3.125%;
	}
	.inner.pd_type3{padding:7.8125% 3.125%;}
.spInner{
	padding-left: 3.125%;
	padding-right: 3.125%;
}
.spInner2{padding: 3.125%;}

.header nav{}
	.header nav.topNav{padding-bottom: 0px;}

.header .navTabs{overflow-x: scroll;}
.header .navTabs .inner{
	display: table;
	table-layout: fixed;
	width: 155%;
	overflow-x: scroll;
	padding-left: 0;
	padding-right: 0;
}
.header .navTabs li{
	display: table-cell;
	white-space: nowrap;
}
	.header .navTabs li:nth-child(1){width: 10%;}
	.header .navTabs li:nth-child(2){width: 14%;}
	.header .navTabs li:nth-child(3){width: 17%;}
	.header .navTabs li:nth-child(4){width: 17%;}
	.header .navTabs li:nth-child(5){width: 14%;}
	.header .navTabs li:nth-child(6){width: 14%;}
	.header .navTabs li:nth-child(7){width: 14%;}
.header .navTabs a{
	font-size: 0.9rem;
	line-height: 2.3;
}

.header .navMenus{}
.header .navMenu{
	background-color: #071940;
	padding: 0;
}
.header .navMenu ul{
	display: block;
	text-align: center;
}
.header .navMenu li{
	display: block;
	padding: 0;
}
	.header .navMenu li + li{
		border-left:none;
		border-top: 1px solid #647cb1;
	}
.header .navMenus dt{
	background-color: #000510;
	margin-bottom: 0px;
	padding: 2% 0 !important;
	color: #fff;
	font-size: 1.2rem;
	position: relative;
}
	.header .navMenus dt:after{
		content: "";
		display: block;
		background:url(../img/icn_plus.png) 0 0 no-repeat;
		background-size: 100%;
		width: 3.125vw;
		height: 3.125vw;
		margin: auto;
		color: #98aede;
		line-height: 1;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 3%;
	}
		.header .navMenus dt.opn:after{background-image: url(../img/icn_minus.png);}
	.header .navMenus * + dt{border-top: 1px solid #647cb1;}
	.header .navMenus dd + dt{margin-top: 0px;}
	.header .navMenus dt:before{content:normal;}
.header .navMenus dd{
	display: none;
	padding-left: 0;
}
.header .navMenus dd p{border-top: 1px dotted #647cb1;}
.header .navMenus dd a{
	display: block;
	padding: 2% 0;
	font-size: 1.1rem;
	position: relative;
}
	.header .navMenus dd a:after{
		content: "";
		display: block;
		background:url(../img/icn_arw_r.png) 0 0 no-repeat;
		background-size: 100%;
		width: 3.125vw;
		height: 3.125vw;
		margin: auto;
		color: #98aede;
		line-height: 1;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 3%;
	}

.header .navMenu.no1 li:nth-child(1){width: auto;}
.header .navMenu.no1 li:nth-child(1) dd > div{
	display: block;
	width: auto;
}

.logo{padding: 3% 0;}
.logo a{width: 27.8125%;}
.logo a img{width: 100%;}
.logo small{
	margin-top: 2%;
	font-size: 0.7rem;
}
.pankz{font-size: 0.8rem;}
.pankz .inner{padding: 1.4% 3.125% 1.2%;}

.container{background: none;}


.footer{background-color: #000510;}
.ftNav{
	display: block;
	padding: 0;
}
.ftNav > *{display: block;}
.ftNav .ftLogo{padding:7.0313% 3.125%;}
.ftNav .ftLogo .img{margin-bottom: 3%;}
.ftNav .ftLogo .img img{width: 41.6667%;}
.ftNav .ftLogo p{
	font-size: 0.8rem;
	line-height: 1.4;
}
.ftNav .ftMenus{border-left:none;}
.ftNav .ftMenus dl{
	display: block;
	width: auto;
	padding:0;
	text-align: center;
}
.ftNav dt{
	background-color: #000510;
	margin-bottom: 0px;
	padding: 2%;
	font-size: 1.2rem;
	border-top: 1px solid #647cb1;
	position: relative;
}
	.ftNav dt:after{
		content: "";
		display: block;
		background:url(../img/icn_plus.png) 0 0 no-repeat;
		background-size: 100%;
		width: 3.125vw;
		height: 3.125vw;
		margin: auto;
		color: #98aede;
		line-height: 1;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 3%;
	}
		.ftNav dt.opn:after{background-image: url(../img/icn_minus.png);}
.ftNav dd{
	display: none;
}
.ftNav a{
	display: block;
	background-color: #071940;
	padding: 2% 0;
	font-size: 1.1rem;
	position: relative;
	border-top: 1px dotted #647cb1;
}
	.ftNav a:after{
		content: "";
		display: block;
		background:url(../img/icn_arw_r.png) 0 0 no-repeat;
		background-size: 100%;
		width: 3.125vw;
		height: 3.125vw;
		margin: auto;
		color: #98aede;
		line-height: 1;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 3%;
	}
.copyright{
	padding: 4.6875%;
	font-size: 0.6rem;
}



/*----各コンテンツ----
---------------------*/
.main1{
	background: none;
	padding: 0;
	margin-bottom: 3%;
}
.main1 .boxBg{
	background: #fff;
	padding:0;
	position: static;
}
.main1 .inner{
	display: block;
	padding:0;
}
.main1 .img{
	width: auto;
	border-top: 1px solid #fff;
}
.main1 .img a span{
	padding:2% 3%;
	font-size: 1.2rem;
}
.main1 .list{
	width: auto;
	border-bottom: 1px solid #ccc;
}
.main1 .list li{}
	.main1 .list li + li{
		margin-top: 0;
		padding-top: 0;
	}
.main1 .list a{
	padding: 3.125%;
	font-size: 1.1rem;
}
.main1 .list .img{width: 16.6667%;}
.main1 .list .txt{width: 80%;}


.colWrap{
	display: block;
	padding-bottom: 2%;
}
.colWrap .colMain,
	.colWrap .colSub{
	width: auto;
	float: none;
}
.colWrap .colMain + .colSub{margin-top: 7%;}


/*レノヴィのついて*/
.about{
	background:url(../img/about_bg_sp.png) center center no-repeat;
	background-size: cover;
	padding: 11.7186% 3.125%;
}
.about h2{margin-bottom: 6%;}
.about h2 small{
	margin-bottom: 2%;
	font-size: 1.0rem;
	line-height: 1;
}
	.about h2 small img{width: 29.3334%;}
.about h2 span{
	padding-bottom: 2%;
	font-size: 1.75rem;
}
.about .txt1{
	margin-bottom: 4%;
	font-size: 1.25rem;
}
.about .txt2{
	font-size: 0.9rem;
	line-height: 1.3889;
}


/*マイページのタイトルエリア*/
.mypageTtlArea{background-size: 6.25vw auto;}
.mypageTtlArea .ttl{
	padding: 3.125%;
	font-size: 1.3rem;
}
.mypageTtlArea .ttl .img{
	width: 15vw;
	padding-top: 15vw;
}
.mypageTtlArea .ttl .txt{padding-left: 2.3438vw;}





}